body {
    background-color:#2B2C33;
    margin:40px;
}

h1 {
    color: #88D8C0;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

msg-text {
    grid-area: content;
    color: rgba(237, 237, 237, 0.70);
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    grid-area: content;
    color: rgba(237, 237, 237, 0.70);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


  .sidebar {
    grid-area: sidebar;
  }

  .content {
    grid-area: content;
  }

  .header {
    grid-area: header;
  }

  .prompt {
    grid-area: prompt;
  }

  .grid-container {
    background-color:#2B2C33 ;
    color: #444;
  }

  .grid-container {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
     "header"
     "content"
     "sidebar"
     "prompt"
  }

  @media only screen {
    .grid-container {
      grid-gap: 20px;
      grid-template-columns: auto 200px;
      grid-template-areas:
      "header header header"
      "content content sidebar"
      "content content sidebar"
      "prompt prompt sidebar";
    }
  }

.box {
  background-color: #444;
  color: #fff;
  padding: 40px;
  font-size: 150%; 
}

.content{
    height: 65vh;
    background: #2B2C33;
    grid-area: content;
    color: rgba(237, 237, 237, 0.70);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width:700px;
}

.header{
  background-color: #31333D;
  border-bottom:1px solid #A193BE ;
  margin: -8px;
  padding:8px !important;
}

.sidebar {
    border-left: 1px solid #A193BE;
    background: #31333D;
    margin: -10px;
    color: #EDEDED;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.prompt{
    background-color: #2B2C33;
    padding-left:16px ;
    padding-right:16px;
}


  input[type=text] {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.375rem;
    border: 1px solid #515467;
    background: #393B48;
    color: #EDEDED;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }


  input[type=text]:focus {
    border: 1px solid #A193BE;
  }

button{
    background: #B694FF;
    border: none;
    color: #2B2C33;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    border-radius: 6.25rem;
    font-family: Inter;
    font-style: normal;
    letter-spacing: 0.025rem;
    width:14%;
  }

  #prompt-content {
    width: 600px; 
    word-wrap: break-word;
    line-height: 1.4;
}

br {
    padding: 60px;
}

#typing-text {
    font-size: 18px;
    white-space: pre-wrap; 
    overflow: hidden;
    max-width: 600px;
    word-wrap: break-word; 
}

